@charset "UTF-8";
/* CSS Document */

/** Clearfix */
.clearfix:after {
}
.clearfix {
}
html[xmlns] .clearfix {
}
* html .clearfix {
}
/** End Clearfix */
#wrapper {
background:none;
margin:0 auto;
width:1000px;
}
body.front-page #op-content {
float:left;
font-size:0.917em;
padding:0;
width:625px;
}
#sidebar-right {
width:325px;
padding:0;
margin:0  auto;
}
body.front-page .views-field-field-main-image-fid, body.front-page .views-field-field-op-audio-thumbnail-fid, body.front-page .views-field-field-op-video-thumbnail-fid {
float:left;
margin:0;
padding:5px 5px 0 5px;
width:186px;
}
.views-field-created, .views-field-field-event-date-value {
  font-size: .917em;
  margin: 5px 0 3px 0;
  color: #DDD;
  float:left;
  width:80px;
}
#attachments {
	display: block;
	left: -340px;
	position: absolute;
	top: 140px;
	width:280px;
}
#attachments tr.even, #attachments tr.odd {
background:none !important;
}
#attachments tbody tr {
height:25px;
margin:3px 0 !important;
border-bottom:5px solid #000000!important;
}

#attachments tbody tr td{
border-bottom:5px solid #000000!important;
}
#op-under-content{
	display:none;
}