@charset "UTF-8";

/* Handy font size definitions 
font-size: .833em;   12px x .833   = 10px 
font-size: .917em;   12px x .917   = 11px 
font-size: 1em;      12px x 1      = 12px 
font-size: 1.083em   12px x 1.083  = 13px 
font-size: 1.167em;  12px x 1.167  = 14px
font-size: 1.25em;   12px x 1.125  = 15px
font-size: 1.417em;  12px x 1.417  = 17px
font-size: 2em;      12px x 2    = 24px
*/

/************ Styles that define the layout of the page. *************/


.wrap { 
  width: 980px; 
  margin: 0 auto; 
  }

#wrapper {
  margin: 0 auto;
  width: 1000px;
}

#container {
  margin: 10px 0 10px 0;
  }

#outer-wrapper {
  background: url(../images/header-bg.gif) repeat-x top #000000;
  width:100%;
  min-height:1000px;
 }

/* Home page */


body.front-page #sidebar-left {
  float: left;
  width: 350px;
  margin-right:25px;
}

body.front-page #container {
  background: #000000;
}


body.front-page #op-content {
  float: left;
  width: 625px;
  padding:0;
}

/* 1 column */
#center {
  margin: 0 0 10px;
  position: relative;
  min-height: 500px;
}

/* 3 columns */
body.sidebars #center {
  border-left: 1px solid #b4d7f0;
  border-right: 1px solid #b4d7f0;
  float: left;
  padding: 0 10px;
  width: 600px;
}

/* 2 columns - sidebar-left */
body.sidebar-left #center {
float:left;
margin:0 0 0 60px;
}
body.page-node #center {
  float:left;
  margin:0 auto;
  padding: 10px;
  width:620px;
  background:#000000;
}
/* 2 columns - sidebar-right */
body.sidebar-right #center {
  float: left;
  padding-right: 10px;
  width: 620px;
}
#sidebar-left {
  float: left;
  width:290px;
 }
#sidebar-right {
  float: right;
  width: 310px;
  padding: 0 0 10px 10px;
}
.indented {
  margin-left: 14px;
  padding-left: 5px;
}
.block {
}
.comment {
  margin: 30px 0 0;
  padding: 0;
}
#header {
  margin: 0;
  padding: 0;
  position: relative;
  clear: both;
  text-align: center;
  background:#3C4349;
}
#logo-area {
  height: 93px;
  border-bottom:8px solid #3C4349;
}
#footer {
  margin: 0 auto;
  padding: 15px 10px 45px 10px;
  position: relative;
  clear: both; 
  font-weight: normal;
  width:980px;
}
#news-package-left {
 float:left;
 width:225px;
 margin-right: 25px; 
}
#news-package-right {
 float: right;
 width: 225px;
 margin-left: 20px; 
}
#news-package-center {
  float: left;
  width: 450px; 
}
#news-package-left {
 float:left;
 width:225px;
 margin-right: 25px; 
}
#news-package-right {
 float: right;
 width: 225px;
 margin-left: 20px; 
}
#news-package-center {
  float: left;
  width: 450px; 
}
#comments {margin: 45px 0 0 0;}